{% block content %}

<div class="container">
  
  <form method="post">
    {% csrf_token %}
    <div class="col-md-8 col-md-offset-1" >
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	
      <div class="panel panel-default">
        <div class="panel-heading"><h2>Rest Password</h2></div>
        <div class="panel-body">
<p>We have sended you reset password link on your email. Please Check Your Email.</p>
<a href="{% url 'login' %}">Click to Login</a>
</div>
</form>
</div>
{% endblock %}
